#root {
  margin: 1em;
}
.good-row{
  margin-bottom: 10px;
}
.inc-btn{
  background-color: rgb(173, 237, 173);
}
.dec-btn{
  background-color: rgb(237, 173, 179);
}
.item-amount{
  margin: 0 0.5em;
}

.good-in-items{
  background-color: rgb(233, 239, 255);
}